.primero{
    box-sizing: 60%;
    float: left;
}
.segundo{
    box-sizing: 40%;
    float: right;
}
.toolbar{
    
    margin: 0 0 12px;
  padding: 20px 0 0;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  --background: #c00000;
}
.toolbar-tittle{
    font-family: Roboto;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.Back {
    width: 28px;
    height: 28px;
    margin: 0 1px 0 0;
    object-fit: contain;
  }
  .ic-arrow {
    width: 24px;
    height: 24px;
    margin: 20px 16px 20px 189px;
    padding: 4px 1px 4px 15px;
    object-fit: contain;
  }
  .Frame {
    width: 30.7%;
    height: 44px;
    padding: 15px 19px 11px 20px;
  }  
  .Rectangle {
    width: 93.6%;
    height: 8.4%;
    margin: 24px 12px 0;
    padding: 16px 91px;
    border-radius: 6px;
    box-shadow: 0 2px 7px 0 rgba(50, 53, 58, 0.25);
    background-color: #ffffff;
  }
  